<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:application name="springbootDemoApp" />
	<dubbo:registry id="zookeeper" protocol="zookeeper" address="${dubbo.registry.address}"
		file="${dubbo.home}/output/dubbo.cache" check="false"/>
	<!-- 设置不依赖 -->
	<!--今天发现服务没有打开，本地http://localhost:8080居然访问不到-->
	<dubbo:consumer check="false" timeout="300000" />
	<dubbo:provider timeout="300000" />
	<dubbo:protocol name="dubbo" port="${dubbo.port}" dispather="all"	threadpool="cached" threads="500" />
	<import resource="classpath*:/springbootDemo_dubbo_customer.xml" />
	<import resource="classpath*:/springbootDemo_dubbo_provider.xml" />
</beans>