<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
	
	<!--=============================消费的接口  url="dubbo://192.168.1.37:20884" =============================-->
	<!-- bom分析服务 -->
<!--	<dubbo:reference id="bomAnalyseApiImpl" interface="com.allchips.bom.api.IBomAnalyseApi" registry="zookeeper" version="1.0.1"/>-->
</beans>