<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	 <!-- 订单接口  url="dubbo://192.168.1.12:20881"
	<dubbo:reference id="orderService" interface="com.order.api.IOrderApi" registry="zookeeper" version="1.0" />

	<dubbo:reference id="userInfoApi" interface="com.aaron.springbootApp.api.IUserInfoApi" registry="zookeeper" version="1.0" />
	-->


</beans>